@charset "UTF-8";
/*Подключаем шрифты*/
/*Open Sans 400*/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}
/*Open Sans 700*/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
/*Переменные для цветов*/
:root {
  --black: #000000;
  --white: #ffffff;
  --dark-grey: #444444;
  --extra-bark: rgba(0, 1, 1, 0.25);
  --green-blue: #63d1bb;
  --moderate-cyan: #62d1ba;
  --light-gray: #b3b3b3;
  --light: #ececec;
  --extra-light: #f1f1f1;
  --super-light: #e5e5e5;
  --turquoise: #56c3b2;
  --silver: #c6c6c6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: var(--dark-grey);
  background-color: var(--white);
}

.page__body {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: var(--white);
}

.main-header__container {
  padding: 22px 0;
  box-shadow: 0 1px 0 var(--light), inset 0 1px 0 var(--light);
}

.main-navigation {
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
  text-align: center;
}

.main-navigation__logo-link {
  text-decoration: none;
}

.main-navigation__text {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: var(--dark-grey);
}

.site-list__basic {
  margin: 0;
  padding: 0;
}

.site-list__additional {
  margin: 0;
  padding: 0;
}

.site-list__item {
  padding: 28px 0;
  border-bottom: 1px solid var(--light);
  list-style-type: none;
}

.site-list__link {
  color: #000000;
  text-decoration: none;
}

.user-list {
  margin: 0;
  padding: 0;
}

.user-list__item {
  padding: 28px 0;
  border-bottom: 1px solid var(--light);
  list-style-type: none;
}

.user-list__link {
  color: var(--black);
  text-decoration: none;
}

/*Добавляет стили для главного блока*/
.main-hero {
  background-color: var(--extra-light);
}

.main-hero__container {
  background-color: var(--extra-light);
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-hero__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
  text-align: center;
}
.main-hero__title--index {
  padding: 73px 0 120px 0;
}
.main-hero__title--form {
  padding: 73px 0 73px 0;
}
.main-hero__title--catalog {
  padding: 73px 0 73px 0;
}

.categories__container {
  margin-bottom: 31px;
}

.categories__list {
  margin: 0;
  padding: 0;
}

.categories__item {
  padding: 24px 160px 31px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  list-style-type: none;
}
.categories__item--interior {
  background-color: var(--green-blue);
}
.categories__item--toys {
  background-color: var(--turquoise);
}

.categories__link {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

.weekly-product__container {
  margin-bottom: 52px;
  padding-right: 30px;
  padding-left: 30px;
}

.weekly-product__title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
}

.weekly-product__subtitle {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: var(--green-blue);
  text-transform: uppercase;
}

.weekly-product__text {
  margin-bottom: 28px;
}

.weekly-product__description {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

.weekly-product__table {
  margin: 0;
  padding: 11px 0;
  font-size: 15px;
  line-height: 20px;
  border-bottom: 1px solid var(--light);
}

.weekly-product__value {
  margin: 0;
}

.weekly-product__image {
  display: block;
  margin-bottom: 26px;
}

.weekly-product__price {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.button {
  display: block;
  padding: 16px;
  font-family: inherit;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.button--light {
  color: var(--dark-grey);
  background-color: var(--white);
  border: 2px solid var(--dark-grey);
}
.button--dark {
  color: var(--white);
  background-color: var(--green-blue);
  border: none;
}

.benefits__container {
  padding: 31px 30px 58px 30px;
}

.benefits__title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
}

.benefits__list {
  margin: 0;
  padding: 0;
}

.benefits__item {
  line-height: 20px;
  font-weight: 700;
  color: var(--black);
  list-style-type: none;
}
.benefits__item--flower {
  margin-bottom: 30px;
  padding-top: 54px;
}
.benefits__item--cash {
  margin-bottom: 35px;
  padding-top: 53px;
}
.benefits__item--heart {
  margin-bottom: 32px;
  padding-top: 48px;
}
.benefits__item--threads {
  margin-bottom: 33px;
  padding-top: 51px;
}
.benefits__item--rocket {
  margin-bottom: 32px;
  padding-top: 49px;
}
.benefits__item--gift {
  padding-top: 52px;
}

.feedback__container {
  padding-right: 30px;
  padding-left: 30px;
}

.feedback__title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
}

.feedback__blockquotes {
  margin-bottom: 30px;
}

.feedback__quote {
  margin: 0;
}

.feedback__text {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-size: 15px;
}

.feedback__author-name {
  font-style: normal;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
}

.feedback__author-nickname {
  font-style: normal;
}

.feedback__control {
  margin-bottom: 38px;
}

.feedback__button {
  margin-bottom: 45px;
}

/*Позде будут добавлены стили для слайдера*/
.feedback-control__list {
  margin: 0;
  padding: 0;
}

.feedback-control__item {
  list-style-type: none;
}

.feedback-control__button {
  padding: 13px 42px 13px 38px;
  background-color: var(--white);
  border: 1px solid var(--light);
}

.contacts__container {
  padding: 38px 30px 39px 30px;
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
}

.contacts__table {
  margin: 0;
  margin-bottom: 38px;
  font-size: 14px;
}

.contacts__value {
  margin: 0;
}

.contacts__value-link {
  color: var(--dark-grey);
  text-decoration: none;
  border-bottom: 1px solid var(--moderate-cyan);
}

.contacts__map {
  padding: 30px 0 42px;
}

.main-footer {
  padding-right: 30px;
  padding-left: 30px;
  background-color: var(--extra-light);
}

.social-list {
  margin: 0;
  padding: 25px 59px 28px 59px;
  text-align: center;
  border-bottom: 1px solid var(--super-light);
}

.social-list__item {
  list-style-type: none;
}

.copyright {
  padding: 22px 39px 23px 39px;
  text-align: center;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: var(--black);
}

/*Позже добавится затемняющий фон, для модального окна*/
.modal {
  padding: 29px 30px 46px 30px;
  background-color: var(--white);
  border: 1px solid var(--silver);
  box-shadow: 0 5px 10px var(--extra-bark);
}

.modal__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}

.modal__description {
  margin: 0;
  margin-bottom: 22px;
  font-size: 15px;
  text-align: center;
}

.modal__list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.modal__item {
  list-style-type: none;
}

.modal__label {
  padding: 18px 22px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.order {
  padding: 17px 30px 55px 30px;
}

.order__container {
  margin-bottom: 29px;
}

.order__description {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}

.order-form__form-group {
  margin: 0;
  margin-bottom: 30px;
}
.order-form__form-group:last-child {
  margin-bottom: 17px;
}

.form-group {
  padding: 0;
  border: none;
}

.form-group__title {
  margin-bottom: 30px;
  line-height: 16px;
  font-weight: 700;
  color: var(--green-blue);
  text-transform: uppercase;
}

.form-group__list {
  margin: 0;
  padding: 0;
}

.form-group__item {
  list-style-type: none;
}

.control__label {
  line-height: 18px;
  font-weight: 700;
  color: var(--black);
}

.user-info__title {
  margin-bottom: 28px;
}

.user-info__list {
  margin: 0;
  padding: 0;
}

.user-info__item {
  list-style-type: none;
}

.user-info__label {
  line-height: 18px;
  font-weight: 700;
  color: var(--black);
}

.phone__title {
  margin-bottom: 5px;
}

.phone__container {
  margin: 0;
  padding: 0;
}

.email__title {
  margin-bottom: 5px;
}

.email__container {
  margin: 0;
  padding: 0;
}

.input {
  padding: 17px 10px 17px 0;
  font: inherit;
  line-height: 18px;
  color: var(--light-gray);
  border: none;
  box-shadow: inset 0 -2px 0 var(--black);
}

.additionally__title {
  margin-bottom: 23px;
}

.additionally__container {
  margin: 0;
  padding: 0;
}

.additionally__text {
  font: inherit;
  line-height: 18px;
  color: var(--light-gray);
  border: 2px solid var(--dark-grey);
}

.send__info {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.product-cards__container {
  padding: 30px;
}

.product-cards__list {
  margin: 0;
  padding: 0;
}

.product-cards__item {
  list-style-type: none;
  margin-bottom: 30px;
}
.product-cards__item:last-child {
  margin-bottom: 0;
}

.product-card__image {
  display: block;
}

.product-card__text {
  padding: 28px 5px 27px 28px;
  text-align: center;
  border: 1px solid var(--light);
}

.product-card__link-title {
  text-decoration: none;
}

.product-card__title {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
}

.product-card__description {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-size: 13px;
}

.product-card__buy {
  padding-top: 23px;
  border-top: 1px solid var(--light);
}

.product-card__price {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
}

/*Добавляет стили для кнопки с корзиной*/
.production {
  padding: 0 30px 0 30px;
}

.production__container {
  margin-bottom: 58px;
  padding: 22px 0 33px 0;
  border: 1px solid var(--light);
}

.production__title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  padding-left: 57px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
}

.production__video {
  margin-bottom: 35px;
}

.production__text {
  margin: 0;
  margin-bottom: 41px;
  padding-left: 34px;
  font-size: 13px;
  line-height: 24px;
}

.player-button {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */