@media (min-width: $desktop-width) {
  .additional-navigation {
    background-color: var(--super-light-3);
    border-top: 1px solid var(--super-light-2);

    &--form {
      background-color: var(--extra-light);
    }

    &--catalog {
      background-color: var(--extra-light);
    }
  }
}
