.additionally {
  position: relative;
}

.additionally__title {
  display: flex;
  width: 100%;
  margin-bottom: 23px;

  &::after {
    content: "";
    align-self: center;
    flex-grow: 1;
    height: 1px;
    margin-left: 20px;
    background-color: var(--moderate-cyan);
  }
}

.additionally__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: -21px;
  padding: 0;
}

.additionally__text {
  padding: 16px 15px;
  font: inherit;
  line-height: 18px;
  color: var(--black);
  border: 2px solid var(--dark-grey);

  &::placeholder {
    color: var(--light-gray);
  }

  &:hover {
    border: 2px solid var(--moderate-cyan);
  }

  &:focus {
    border: 2px solid var(--moderate-cyan);
    outline: none;
  }

  &:active {
    border: 2px solid var(--moderate-cyan);
  }
}

@media (min-width: $tablet-width) {
  .additionally__title {
    position: absolute;
    top: 19px;
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }

  .additionally__container {
    padding-left: 167px;
  }

  .additionally__text {
    font-size: 19px;
  }
}

@media (min-width: $desktop-width) {
  .additionally__container {
    padding-right: 175px;
    padding-left: 175px;
  }
}
