.benefits__container {
  padding: 31px 30px 58px 30px;
}

.benefits__title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
}

.benefits__list {
  margin: 0;
  padding: 0;
}

.benefits__item {
  max-width: 260px;
  line-height: 20px;
  font-weight: 700;
  color: var(--black);
  list-style-type: none;

  &--flower {
    margin-bottom: 30px;
    padding-top: 54px;
  }

  &--cash {
    margin-bottom: 35px;
    padding-top: 53px;
  }

  &--heart {
    margin-bottom: 32px;
    padding-top: 48px;
  }

  &--threads {
    margin-bottom: 33px;
    padding-top: 51px;
  }

  &--rocket {
    margin-bottom: 32px;
    padding-top: 49px;
  }

  &--gift {
    padding-top: 52px;
  }
}

@media (min-width: $tablet-width) {
  .benefits__container {
    padding: 54px 50px 83px 50px;
  }

  .benefits__title {
    margin-bottom: 42px;
    font-size: 43px;
    line-height: 50px;
  }

  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 668px;
  }

  .benefits__item {
    max-width: 334px;
    font-size: 20px;
    line-height: 22px;

    &--flower {
      margin-bottom: 57px;
      padding-top: 56px;
      order: 1;
    }

    &--cash {
      margin-bottom: 63px;
      order: 3;
    }

    &--heart {
      order: 5;
    }

    &--threads {
      margin-bottom: 59px;
      padding-top: 53px;
      order: 2;
    }

    &--rocket {
      margin-bottom: 58px;
      padding-top: 51px;
      order: 4;
    }

    &--gift {
      padding-top: 53px;
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .benefits__container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 68px 50px 90px 50px;
  }

  .benefits__title {
    margin-bottom: 39px;
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }

  .benefits__list {
    max-width: 688px;
    margin-left: 175px;
  }
}
