.benefits__container {
  padding: 37px 30px 58px 30px;
}

.benefits__title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
}

.benefits__list {
  margin: 0;
  padding: 0;
}

.benefits__item {
  position: relative;
  max-width: 260px;
  line-height: 20px;
  font-weight: 700;
  color: var(--black);
  list-style-type: none;

  &--flower {
    margin-bottom: 30px;
    padding-top: 54px;
  }

  &--flower::before {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;
    width: 33px;
    height: 38px;
    background-image: url("../img/flower.svg");
  }

  &--cash {
    margin-bottom: 35px;
    padding-top: 53px;
  }

  &--cash::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 47px;
    height: 27px;
    background-image: url("../img/cash.svg");
  }

  &--heart {
    margin-bottom: 32px;
    padding-top: 48px;
  }

  &--heart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;
    width: 34px;
    height: 27px;
    background-image: url("../img/heart.svg");
  }

  &--threads {
    margin-bottom: 33px;
    padding-top: 51px;
  }

  &--threads::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    width: 35px;
    height: 34px;
    background-image: url("../img/threads.svg");
  }

  &--rocket {
    margin-bottom: 32px;
    padding-top: 49px;
  }

  &--rocket::before {
    content: "";
    position: absolute;
    top: 0;
    left: -6px;
    width: 55px;
    height: 23px;
    background-image: url("../img/rocket.svg");
  }

  &--gift {
    margin-bottom: 32px;
    padding-top: 52px;
  }

  &--gift::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    width: 33px;
    height: 32px;
    background-image: url("../img/gift.svg");
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .benefits__container {
    padding: 56px 50px 24px 50px;
  }

  .benefits__title {
    margin-bottom: 42px;
    font-size: 43px;
    line-height: 50px;
  }

  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 668px;
  }

  .benefits__item {
    max-width: 334px;
    font-size: 20px;
    line-height: 22px;

    &--flower {
      margin-bottom: 57px;
      padding-top: 56px;
      order: 1;
    }

    &--cash {
      margin-bottom: 63px;
      padding-top: 51px;
      order: 3;
    }

    &--heart {
      margin-bottom: 58px;
      order: 5;
    }

    &--threads {
      margin-bottom: 59px;
      padding-top: 56px;
      order: 2;
    }

    &--threads::before {
      top: 3px;
    }

    &--rocket {
      margin-bottom: 58px;
      padding-top: 51px;
      order: 4;
    }

    &--gift {
      margin-bottom: 58px;
      padding-top: 48px;
      order: 6;
    }

    &--gift::before {
      top: -5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .benefits__container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 90px 50px 31px 50px;
  }

  .benefits__title {
    margin-bottom: 39px;
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }

  .benefits__list {
    max-width: 688px;
    margin-left: 175px;
  }

  .benefits__item {
    max-width: 338px;

    &--cash::before {
      top: -2px;
    }

    &--threads::before {
      top: 4px;
    }

    &--rocket {
      margin-left: 0;
      padding-top: 52px;
    }

    &--rocket::before {
      top: 1px;
    }

    &--gift {
      padding-top: 49px;
    }

    &--gift::before {
      top: -4px;
    }
  }
}
