.button {
  display: block;
  padding: 16px;
  font-family: inherit;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button--light {
  color: var(--dark-grey);
  background-color: var(--white);
  border: 2px solid var(--dark-grey);
}

.button--dark {
  color: var(--white);
  background-color: var(--green-blue);
  border: none;
}
