.button {
  display: block;
  padding: 13px 13px 15px 13px;
  font-family: inherit;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &--light {
    color: var(--dark-grey);
    background-color: var(--white);
    border: 2px solid var(--dark-grey);
  }

  &--light:hover {
    color: var(--white);
    background-color: var(--dark-grey);
  }

  &--light:focus {
    color: var(--white);
    background-color: var(--dark-grey);
    outline: none;
  }

  &--light:active {
    color: var(--light-gray);
    background-color: var(--dark-grey);
  }

  &--dark {
    color: var(--white);
    background-color: var(--green-blue);
    border: none;
  }

  &--dark:hover {
    background-color: var(--turquoise);
  }

  &--dark:focus {
    background-color: var(--turquoise);
    outline: none;
  }

  &--dark:active {
    background-color: var(--turquoise);
    opacity: 0.7;
  }
}
