.categories__container {
  margin-bottom: 31px;
}

.categories__list {
  margin: 0;
  padding: 0;
}

.categories__item {
  padding: 24px 160px 31px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  list-style-type: none;

  &--interior {
    background-color: var(--green-blue);
  }

  &--toys {
    background-color: var(--turquoise);
  }
}

.categories__link {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}
