.control__label {
  position: relative;
  display: block;
  max-width: 260px;
  padding: 11px 0 9px 60px;
  line-height: 18px;
  font-weight: 700;
  color: var(--black);

  &--accessories {
    padding-top: 5px;
    padding-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid var(--dark-grey);
  }

  &--toys::before {
    top: -1px;
  }

  &--color::before {
    width: 38px;
    height: 38px;
  }

  &:hover::before {
    border-color: var(--moderate-cyan);
    cursor: pointer;
  }

  &:focus::before {
    border-color: var(--moderate-cyan);
  }

  &:active::before {
    border-color: var(--easy-black);
  }
}

.control__input[type="radio"] + .control__label::before {
  border-radius: 50%;
}

.control__input {
  &:disabled + .control__label::before {
    border-color: var(--super-light-3);
  }
}

.control__input[type="radio"]:checked + .control__label::before {
  background-image: url("../img/circle.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
}

.control__input[type="checkbox"]:checked + .control__label::before {
  background-image: url("../img/check-mark.svg");
  background-repeat: no-repeat;
  background-size: 23px 16px;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .control__label {
    max-width: 334px;
    padding-top: 15px;
    padding-left: 78px;
    font-size: 19px;

    &::before {
      width: 50px;
      height: 48px;
    }

    &--color {
      padding-top: 16px;
      padding-left: 82px;
    }

    &--color::before {
      width: 52px;
      height: 52px;
    }
  }

  .control__input[type="radio"]:checked + .control__label::before {
    background-size: 21px 21px;
    background-position: 13px 12px;
  }

  .control__input[type="checkbox"]:checked + .control__label::before {
    background-size: 32px 22px;
  }
}

@media (min-width: $desktop-width) {
  .control__label::before {
    top: -2px;
  }
}
