.contacts__title {
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
}

.contacts__table-row {
  font-size: 14px;
}

.contacts__value-link {
  color: var(--dark-grey);
  text-decoration: none;
  border-bottom: 1px solid var(--moderate-cyan);
}
