.copyright {
  display: flex;
  justify-content: center;
  padding: 22px 39px 23px 39px;
  text-align: center;
}

.copyright__text {
  margin-right: 28px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: var(--black);
  align-self: center;
}

.copyright__link {
  margin: auto 0;

  &:hover .copyright__icon {
    fill: var(--light-green-blue);
  }

  &:focus .copyright__icon {
    fill: var(--light-green-blue);
    outline: none;
  }

  &:active .copyright__icon {
    fill: var(--light-green-blue);
    opacity: 0.3;
  }
}

.copyright__icon {
  display: block;
  width: 27px;
  height: 34px;
  fill: var(--green-blue);
}

@media (min-width: $tablet-width) {
  .copyright {
    max-width: 181px;
    padding: 0;
  }
}
