.email {
  position: relative;
}

.email__title {
  display: flex;
  width: 100%;
  margin-bottom: 5px;

  &::after {
    content: "";
    align-self: center;
    flex-grow: 1;
    height: 1px;
    margin-left: 20px;
    background-color: var(--moderate-cyan);
  }
}

.email__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.email__icon {
  position: absolute;
  top: 16px;
  right: 5px;
  fill: var(--black);
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .email__title {
    position: absolute;
    top: 19px;
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }

  .email__container {
    padding-left: 167px;
  }

  .email__input {
    background-color: var(--extra-light);
  }

  .email__icon {
    top: 18px;
    right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .email__container {
    padding-right: 175px;
    padding-left: 175px;
  }

  .email__icon {
    right: 179px;
  }
}
