.feedback__title {
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
}

.feedback__text {
  font-size: 15px;
}

.feedback__author-name {
  font-style: normal;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
}

.feedback__author-nickname {
  font-style: normal;
}
