/*Подключаем шрифты*/
/*Open Sans 400(woff2)*/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}

/*Open Sans 400(woff)*/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}

/*Open Sans 700(woff2)*/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}

/*Open Sans 700(woff)*/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}

