.form-group {
  padding: 0;
  border: none;
}

.form-group__title {
  margin: 0;
  margin-bottom: 30px;
  line-height: 16px;
  font-weight: 700;
  color: var(--green-blue);
  text-transform: uppercase;
}

.form-group__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .form-group__title {
    margin-bottom: -18px;
  }

  .form-group__list {
    margin-top: -16px;
    padding-left: 167px;

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form-group__item {
    min-width: 249px;
  }
}
