.form-group {
  padding: 0;
  border: none;
}

.form-group__title {
  display: flex;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  line-height: 16px;
  font-weight: 700;
  color: var(--green-blue);
  text-transform: uppercase;

  &::after {
    content: "";
    align-self: center;
    flex-grow: 1;
    height: 1px;
    background-color: var(--moderate-cyan);
  }

  &--type::after {
    margin-left: 23px;
  }

  &--color::after {
    margin-left: 16px;
  }
}

.form-group__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-group__item {
  margin-bottom: 12px;

  &--checkbox {
    margin-bottom: 23px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .form-group__title {
    max-width: 150px;
    margin-bottom: -18px;

    &::after {
      display: none;
    }
  }

  .form-group__list {
    margin-top: -16px;
    padding-left: 167px;

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form-group__item {
    min-width: 249px;
    margin-bottom: 30px;

    &--checkbox {
      margin-bottom: 24px;
    }

    &--checkbox:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-group__title {
    margin-bottom: -19px;
    margin-left: 46px;
  }

  .form-group__list {
    padding-right: 175px;
    padding-left: 175px;
  }

  .form-group__item {
    min-width: 233px;

    &--checkbox:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
  }
}
