.main-navigation {
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
  text-align: center;
}

.main-navigation__logo-link {
  text-decoration: none;
}

.main-navigation__text {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: var(--dark-grey);
}
