.main-footer {
  background-color: var(--extra-light);
}

.main-footer__container {
  padding: 0 30px;
}

.main-footer__logo-link {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-footer__container {
    display: flex;
    justify-content: space-between;
    padding: 51px 50px 58px;
  }

  .main-footer__logo-link {
    display: block;
    margin: auto 0;
    fill: var(--black);

    &:hover .main-footer__logo-image {
      fill: var(--light-green-blue);
    }

    &:focus .main-footer__logo-image {
      fill: var(--light-green-blue);
      outline: none;
    }

    &:active .main-footer__logo-image {
      fill: var(--light-green-blue);
      opacity: 0.3;
    }
  }

  .main-footer__logo-image {
    display: block;
    width: 102px;
    height: 34px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
  }
}
