.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--white);
}

.main-header__container {
  box-shadow: 0 1px 0 var(--light), inset 0 1px 0 var(--light);
}

@media (min-width: $tablet-width) {
  .main-header {
    width: 100%;
    margin: 0 auto;
  }

  .main-header__container {
    width: 768px;
    margin: auto;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__container {
    width: 1150px;
    margin: 0 auto;
  }
}
