.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--white);
}

.main-header__container {
  box-shadow: 0 1px 0 var(--light), inset 0 1px 0 var(--light);
}

@media (min-width: $tablet-width) {
  .main-header__container {
    width: 100%;
    box-shadow: none;
  }
}
