.main-hero {
  background-color: var(--extra-light);

  &--index {
    background-color: transparent;
  }
}

.main-hero__container {
  min-height: 283px;
  padding: 0 30px;
  background-color: var(--super-light-3);
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
}

.main-hero__title {
  max-width: 500px;
  margin: 0 auto;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
  text-align: center;

  &--index {
    padding: 73px 0 120px 0;
  }

  &--form {
    padding: 73px 0 73px 0;
  }

  &--catalog {
    padding: 73px 0 73px 0;
  }
}

@media (min-width: $tablet-width) {
  .main-hero {
    margin-top: -47px;
  }

  .main-hero__container {
    min-height: 758px;
    margin-top: -49px;
    padding: 0 50px;
    background-image: url("../img/hero-tablet.jpg");
    background-position: center;
    border-top: 1px solid var(--super-light-2);
  }

  .main-hero__title {
    max-width: 668px;
    margin: 0 auto;
    font-size: 43px;
    line-height: 50px;

    &--index {
      padding: 155px 0 371px;
    }

    &--form {
      padding: 101px 0 75px;
    }

    &--catalog {
      padding: 101px 0 75px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-hero {
    margin-top: -63px;
  }

  .main-hero__container {
    width: 100%;
    margin: 0 auto;
    background-image: url("../img/hero-desktop.jpg");
    background-position: center;
  }

  .main-hero__title {
    margin: 0 auto;
    font-size: 53px;
    line-height: 57px;

    &--index {
      padding: 158px 0 355px;
    }

    &--form {
      padding: 102px 0 96px;
    }

    &--catalog {
      padding: 102px 0 96px;
    }
  }
}
