.main-hero {
  background-color: var(--extra-light);

  &--index {
    background-color: transparent;
  }
}

.main-hero__container {
  min-height: 283px;
  padding: 0 30px;
  background-color: var(--super-light-3);
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 320px 373px;
  }
}

.main-hero__title {
  max-width: 500px;
  margin: 0 auto;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
  text-align: center;

  &--index {
    padding: 73px 10px 120px 9px;
  }

  &--form {
    padding: 73px 10px 73px 10px;
  }

  &--catalog {
    padding: 73px 10px 73px 10px;
  }
}

@media (min-width: $tablet-width) {
  .main-hero__wrapper {
    position: relative;

    &--form::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 3px;
      width: 100%;
      height: 24px;
      background-image: url("../img/zig-zag-fill.svg");
      background-repeat: repeat-x;
      background-size: 761px 24px;
    }

    &--catalog::after {
      content: "";
      position: absolute;
      bottom: -11px;
      left: 3px;
      width: 100%;
      height: 24px;
      background-image: url("../img/zig-zag-fill.svg");
      background-repeat: repeat-x;
      background-size: 761px 24px;
    }
  }

  .main-hero__container {
    min-height: 758px;
    margin-top: -74px;
    padding: 0 50px;
    background-image: url("../img/hero-tablet.jpg");
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 768px 758px;
    }
  }

  .main-hero__title {
    max-width: 668px;
    margin: 0 auto;
    font-size: 43px;
    line-height: 50px;

    &--index {
      padding: 163px 0 371px;
    }

    &--form {
      padding: 35px 0 75px;
    }

    &--catalog {
      padding: 36px 0 75px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-hero__wrapper {
    &--form::after {
      bottom: -16px;
      left: -1px;
      height: 34px;
      background-size: 1150px 34px;
    }

    &--catalog::after {
      bottom: -17px;
      left: 0;
      height: 34px;
      background-size: 1150px 34px;
    }
  }

  .main-hero__container {
    width: 100%;
    min-height: 746px;
    margin: 0 auto;
    margin-top: -62px;
    background-image: url("../img/hero-desktop.jpg");
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px 746px;
    }
  }

  .main-hero__title {
    margin: 0 auto;
    font-size: 53px;
    line-height: 57px;

    &--index {
      padding: 156px 0 355px;
    }

    &--form {
      padding: 38px 0 96px;
    }

    &--catalog {
      padding: 38px 0 96px;
    }
  }
}
