.modal {
  margin: auto;
  padding: 29px 30px 46px 30px;
  background-color: var(--white);
  border: 1px solid var(--silver);
  box-shadow: 0 5px 10px var(--extra-bark);
}

.modal__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}

.modal__description {
  margin: 0;
  margin-bottom: 22px;
  font-size: 15px;
  text-align: center;
}

.modal__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.modal__label {
  display: inline-block;
  min-width: 82px;
  min-height: 52px;
  padding: 16px 22px 15px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--easy-dark-grey);
  cursor: pointer;

  &:hover {
    border-color: var(--soft-dark-grey);
  }

  &:focus {
    border-color: var(--soft-dark-grey);
    outline: none;
  }
}

.modal__input:checked + .modal__label {
  border-color: var(--moderate-cyan);
}

.modal__button {
  margin: 0 auto;
  min-width: 260px;
}

@media (min-width: $tablet-width) {
  .modal {
    padding: 37px 105px 44px 107px;
  }

  .modal__title {
    margin-bottom: 13px;
    font-size: 30px;
    line-height: 57px;
  }

  .modal__description {
    margin-bottom: 20px;
    font-size: 17px;
  }

  .modal__list {
    margin-bottom: 33px;
  }

  .modal__label {
    min-width: 112px;
    padding: 17px 37px 16px;
  }

  .modal__button {
    min-width: 350px;
  }
}
