.modal__title {
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
}

.modal__description {
  font-size: 15px;
}

.modal__item {
  list-style-type: none;
}

.modal__label {
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
