.order-form__form-group {
  margin: 0;
  margin-bottom: 30px;
}

.order-form__send {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .order-form__wrapper {
    width: 100%;
    background-color: var(--extra-light);
  }

  .order-form__container {
    width: 100%;
    max-width: 768px;
    padding: 50px;
  }

  .order-form__form-group {
    margin-bottom: 0;
  }

  .order-form__send {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__wrapper {
    width: 100%;
  }

  .order-form__container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
  }

  .order-form__send {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 225px;
  }
}
