.order-form__form-group {
  margin: 0;
  margin-bottom: 34px;

  &--type {
    margin-bottom: 33px;
  }
}

.order-form__send {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .order-form__wrapper {
    width: 100%;
    background-color: var(--extra-light);
  }

  .order-form__container {
    width: 100%;
    max-width: 768px;
    padding: 67px 50px 56px;

    &--color {
      padding-bottom: 60px;
    }

    &--user-info {
      padding-bottom: 52px;
    }

    &--phone-email {
      padding-top: 47px;
      padding-bottom: 49px;
    }

    &--additionally {
      padding-top: 50px;
      padding-bottom: 72px;
    }
  }

  .order-form__form-group {
    margin-bottom: 0;
  }

  .order-form__send {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__wrapper {
    width: 100%;
  }

  .order-form__container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding-bottom: 55px;

    &--color {
      padding-top: 68px;
      padding-bottom: 57px;
    }

    &--user-info {
      padding-top: 68px;
      padding-bottom: 51px;
    }

    &--phone-email {
      padding-bottom: 49px;
    }

    &--additionally {
      padding-bottom: 69px;
    }
  }

  .order-form__send {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 225px;
  }
}
