.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: var(--dark-grey);
  background-color: var(--white);
}

.page__body {
  margin: 0;
  padding: 0;
}
