.phone {
  position: relative;
}

.phone__title {
  display: flex;
  width: 100%;
  margin-bottom: 5px;

  &::after {
    content: "";
    align-self: center;
    flex-grow: 1;
    height: 1px;
    margin-left: 28px;
    background-color: var(--moderate-cyan);
  }
}

.phone__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.phone__icon {
  position: absolute;
  top: 12px;
  right: 9px;
  fill: var(--black);
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .phone__title {
    position: absolute;
    top: 19px;
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }

  .phone__container {
    padding-bottom: 22px;
    padding-left: 167px;
  }

  .phone__input {
    background-color: var(--extra-light);
  }

  .phone__icon {
    right: 26px;
  }
}

@media (min-width: $desktop-width) {
  .phone__container {
    padding-right: 175px;
    padding-left: 175px;
  }

  .phone__icon {
    top: 13px;
    right: 184px;
  }
}
