.product-cards__container {
  padding: 30px;
}

.product-cards__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-cards__item {
  margin: 0 auto 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .product-cards__container {
    padding: 67px 50px 53px;
  }

  .product-cards__item {
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .product-cards__container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 111px;
    padding-bottom: 57px;
  }

  .product-cards__list {
    display: grid;
    grid-template-columns: repeat(3, 316px);
    column-gap: 51px;
    justify-content: center;
  }

  .product-cards__item {
    margin-bottom: 0;
  }
}
