.product-card {
  &:hover {
    box-shadow: 0 6px 10px var(--soft-black);
  }

  &:focus {
    box-shadow: 0 6px 10px var(--soft-black);
    outline: none;
  }

  &:active {
    box-shadow: 0 3px 5px var(--soft-black);
  }
}

.product-card__image {
  display: block;
  width: 260px;
  height: 195px;
}

.product-card__text {
  max-width: 260px;
  padding: 28px 28px 25px 27px;
  text-align: center;
  border: 1px solid var(--light);

  &--toy-basket {
    padding-top: 25px;
  }
}

.product-card__link-title {
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-card__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: start;
  color: var(--black);

  &--toy-basket {
    margin-bottom: 9px;
  }
}

.product-card__description {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-size: 13px;
  text-align: start;
}

.product-card__buy {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  padding-top: 23px;
  border-top: 1px solid var(--light);
}

.product-card__price {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
}

@media (min-width: $tablet-width) {
  .product-card {
    display: grid;
    grid-template-columns: 334px 334px;
  }

  .product-card__link-image {
    margin: auto 0;
  }

  .product-card__image {
    width: 334px;
    height: 334px;
    object-fit: cover;
  }

  .product-card__text {
    display: flex;
    flex-direction: column;
    max-width: 334px;
    padding: 26px 33px 26px 32px;
  }

  .product-card__title {
    margin-bottom: 7px;
    font-size: 20px;

    &--laundry-basket {
      margin-bottom: 10px;
    }
  }

  .product-card__description {
    margin-bottom: auto;
    font-size: 15px;
  }

  .product-card__buy {
    margin: 14px 0 -2px;
    padding-top: 24px;
  }

  .product-card__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    display: flex;
    flex-direction: column;
    max-width: 316px;
  }

  .product-card__image {
    width: 316px;
    height: 462px;
    object-fit: cover;
  }

  .product-card__title {
    margin-bottom: 6px;
  }

  .product-card__text {
    height: 100%;
    padding: 27px 32px 26px 28px;
  }

  .product-card__description {
    margin-bottom: auto;

    &--toy-bunny {
      margin-left: -1px;
    }

    &--laundry-basket {
      margin-left: -2px;
    }

    &--toy-basket {
      margin-left: -2px;
    }
  }

  .product-card__buy {
    margin-top: 12px;
    margin-left: -2px;
    padding-top: 23px;
  }
}
