.site-list__basic {
  margin: 0;
  padding: 0;
}

.site-list__additional {
  margin: 0;
  padding: 0;
}

.site-list__item {
  padding: 28px 0;
  border-bottom: 1px solid var(--light);
  list-style-type: none;
}

.site-list__link {
  color: #000000;
  text-decoration: none;
}
