.social-list {
  display: flex;
  margin: 0;
  padding: 25px 59px 28px 59px;
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid var(--super-light);
}

@media (min-width: $tablet-width) {
  .social-list {
    max-width: 142px;
    padding: 0;
    border-bottom: none;
  }
}
