.user-info__title {
  margin-bottom: 28px;
}

.user-info__list {
  margin: 0;
  padding: 0;
}

.user-info__item {
  list-style-type: none;
}

.user-info__label {
  line-height: 18px;
  font-weight: 700;
  color: var(--black);
}
