.user-info__title {
  display: flex;
  width: 100%;
  margin-bottom: 28px;

  &::after {
    content: "";
    align-self: center;
    flex-grow: 1;
    height: 1px;
    margin-left: 18px;
    background-color: var(--moderate-cyan);
  }
}

.user-info__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-info__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.user-info__item:last-child {
  margin-bottom: 0;
}

.user-info__label {
  line-height: 18px;
  font-weight: 700;
  color: var(--black);
}

@media (min-width: $tablet-width) {
  .user-info__title {
    margin-bottom: -16px;

    &::after {
      display: none;
    }
  }

  .user-info__list {
    margin-top: -16px;
    padding-left: 167px;
  }

  .user-info__item {
    flex-direction: row;
  }

  .user-info__label {
    margin: auto 26px auto 0;
  }

  .user-info__input {
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .user-info__list {
    padding-right: 175px;
    padding-left: 175px;
  }
}
