.user-list {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}

.user-list__item {
  border-bottom: 1px solid var(--light);
  list-style-type: none;
}

.user-list__link {
  position: relative;
  display: block;
  padding: 28px 0 27px 76px;
  color: var(--black);
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:hover .user-list__icon {
    fill: var(--green-blue);
    opacity: 1;
  }

  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:focus .user-list__icon {
    fill: var(--green-blue);
    opacity: 1;
  }

  &:active {
    .user-list__link-text {
      opacity: 0.3;
    }
  }

  &:active .user-list__icon {
    fill: var(--green-blue);
    opacity: 0.3;
  }
}

.user-list__icon {
  position: absolute;
  opacity: 0.2;

  &--search {
    top: 32px;
    left: 32px;
  }

  &--cart {
    top: 31px;
    left: 30px;
  }
}

.user-list__link-text {
  font-size: 17px;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 2;
    max-width: 406px;
    padding-right: 50px;
  }

  .user-list__item {
    border-bottom: none;
  }

  .user-list__link--search {
    padding: 36px 31px 34px 33px;
    border-left: 1px solid var(--light);
    border-right: 1px solid var(--light);
  }

  .user-list__link {
    min-width: 82px;
    min-height: 89px;
    padding: 33px 0 32px 85px;
  }

  .user-list__icon {
    &--search {
      top: 36px;
      left: 33px;
    }

    &--cart {
      top: 35px;
      left: 31px;
    }
  }

  .user-list__link-text--search {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    max-width: 450px;
    max-height: 89px;
    margin-left: auto;
    order: 3;
  }
}
