.user-list {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}

.user-list__item {
  padding: 28px 0;
  border-bottom: 1px solid var(--light);
  list-style-type: none;
}

.user-list__link {
  color: var(--black);
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    justify-content: flex-end;
    order: 2;
  }

  .user-list__item {
    border-bottom: none;
  }

  .user-list__link--search {
    padding: 36px 31px 34px 33px;
    border-left: 1px solid var(--light);
    border-right: 1px solid var(--light);
  }

  .user-list__link {
    min-width: 84px;
  }

  .user-list__link-text--search {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    min-width: 450px;
    order: 3;
  }
}
