.weekly-product__container {
  margin-bottom: 52px;
  padding: 0 30px;
}

.weekly-product__title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
}

.weekly-product__subtitle {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: var(--green-blue);
  text-transform: uppercase;
}

.weekly-product__text {
  margin-bottom: 28px;
}

.weekly-product__description {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}

.weekly-product__table {
  display: flex;
  max-width: 260px;
  margin: 0 auto;
  padding: 11px 0;
  font-size: 15px;
  line-height: 20px;
  border-bottom: 1px solid var(--light);
}

.weekly-product__parameter {
  min-width: 97px;
}

.weekly-product__value {
  margin: 0;
}

.weekly-product__image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 26px;
}

.weekly-product__price {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.weekly-product__button {
  max-width: 260px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .weekly-product__container {
    padding: 0 50px;
  }

  .weekly-product__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
  }

  .weekly-product__title {
    font-size: 43px;
    line-height: 50px;
  }

  .weekly-product__subtitle {
    max-width: 100px;
    margin: auto 0;
    line-height: 17px;
    text-align: center;
  }

  .weekly-product__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .weekly-product__text {
    margin-bottom: 57px;
  }

  .weekly-product__description {
    max-width: 292px;
    margin-bottom: 48px;
    font-size: 17px;
    line-height: 30px;
  }

  .weekly-product__table {
    max-width: 292px;
    margin: 0;
  }

  .weekly-product__image {
    margin-top: auto;
    margin-bottom: 0;
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .weekly-product__order {
    max-width: 292px;
  }

  .weekly-product__price {
    margin-bottom: 33px;
    font-size: 20px;
  }

  .weekly-product__button {
    max-width: 292px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .weekly-product__container {
    position: relative;
  }

  .weekly-product__header {
    position: absolute;
    margin-bottom: 35px;
    padding-top: 61px;
  }

  .weekly-product__title {
    font-size: 53px;
    line-height: 57px;
    order: 2;
  }

  .weekly-product__subtitle {
    margin-left: 32px;
    margin-right: 39px;
  }

  .weekly-product__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-left: 175px;
  }

  .weekly-product__description {
    margin-bottom: 60px;
  }

  .weekly-product__text {
    margin-bottom: 109px;
  }

  .weekly-product__image {
    position: absolute;
    top: 0;
    right: 50px;
    z-index: -1;
  }
}
