.weekly-product__container {
  position: relative;
  margin-bottom: 36px;
  padding: 0 30px;

  &::after {
    content: "";
    position: absolute;
    bottom: -36px;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../../img/zig-zag-line.svg");
    background-repeat: repeat-x;
    background-size: 320px 6px;
  }
}

.weekly-product__title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
}

.weekly-product__subtitle {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: var(--green-blue);
  text-transform: uppercase;
}

.weekly-product__text {
  margin-bottom: 28px;
}

.weekly-product__description {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}

.weekly-product__table {
  display: flex;
  max-width: 260px;
  margin: 0 auto;
  padding: 11px 0;
  font-size: 15px;
  line-height: 20px;
  border-bottom: 1px solid var(--light);
}

.weekly-product__parameter {
  min-width: 97px;
}

.weekly-product__value {
  margin: 0;
}

.weekly-product__image {
  display: block;
  width: 260px;
  height: 315px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 26px;
}

.weekly-product__price {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.weekly-product__button {
  max-width: 260px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .weekly-product__container {
    display: grid;
    grid-template-columns: 1fr 334px;
    margin-bottom: 69px;
    padding: 0 50px;

    &::after {
      bottom: -69px;
      height: 17px;
      background-size: 768px 17px;
    }
  }

  .weekly-product__header {
    display: flex;
    grid-column: 1/-1;
    justify-content: space-between;
    margin-bottom: 37px;
  }

  .weekly-product__title {
    font-size: 43px;
    line-height: 50px;
  }

  .weekly-product__subtitle {
    max-width: 100px;
    margin: auto 0;
    line-height: 17px;
    text-align: center;
  }

  .weekly-product__wrapper {
    position: relative;
    grid-column: 1/-1;
  }

  .weekly-product__text {
    margin-bottom: 38px;
  }

  .weekly-product__description {
    max-width: 292px;
    margin-bottom: 48px;
    font-size: 17px;
    line-height: 30px;
  }

  .weekly-product__table {
    max-width: 292px;
    margin: 0;
  }

  .weekly-product__image {
    position: absolute;
    top: 13px;
    right: 0;
    width: 334px;
    height: 404px;
    margin-bottom: 0;
  }

  .weekly-product__order {
    max-width: 292px;
  }

  .weekly-product__price {
    margin-bottom: 33px;
    font-size: 20px;
  }

  .weekly-product__button {
    max-width: 292px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .weekly-product__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 73px;

    &::after {
      bottom: -73px;
      width: 1050px;
      height: 23px;
      background-size: 1050px 23px;
      transform: translateX(5%);
    }
  }

  .weekly-product__header {
    position: relative;
    grid-column: 1/-1;
    margin-bottom: 35px;
    padding-top: 61px;
  }

  .weekly-product__title {
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
    order: 2;
  }

  .weekly-product__subtitle {
    position: absolute;
    top: 69px;
    margin-left: 32px;
    margin-right: 39px;
  }

  .weekly-product__wrapper {
    position: relative;
    display: flex;
    grid-column: 1/-1;
    flex-direction: column;
    padding-left: 175px;
  }

  .weekly-product__description {
    margin-bottom: 60px;
  }

  .weekly-product__text {
    margin-bottom: 88px;
  }

  .weekly-product__image {
    position: absolute;
    top: -157px;
    right: 0;
    width: 525px;
    height: 636px;
    margin: 0;
    z-index: -1;
  }

  .weekly-product__order {
    margin-top: 0;
  }
}

