/*Переменные для цветов*/
:root {
  --black: #000000;
  --white: #ffffff;
  --dark-grey: #444444;
  --extra-bark: rgba(0, 1, 1, 0.25);
  --green-blue: #63d1bb;
  --moderate-cyan: #62d1ba;
  --light-gray: #b3b3b3;
  --light: #ececec;
  --extra-light: #f1f1f1;
  --super-light: #e5e5e5;
  --turquoise: #56c3b2;
  --silver: #c6c6c6;
}
