/*Переменные для цветов*/
:root {
  --black: #000000;
  --white: #ffffff;
  --light-white: rgba(255, 255, 255, 0.9);
  --light-black: #231f20;
  --soft-black: rgba(0, 0, 0, 0.1);
  --easy-black: rgba(0, 0, 0, 0.3);
  --dark-grey: #444444;
  --easy-dark-grey: rgba(68, 68, 68, 0.1);
  --soft-dark-grey: rgba(68, 68, 68, 0.3);
  --extra-bark: rgba(0, 1, 1, 0.25);
  --green-blue: #63d1bb;
  --light-green-blue: #46c1ae;
  --easy-green-blue: #59d5bc;
  --soft-green-blue: rgba(70, 193, 174, 0.1);
  --moderate-cyan: #62d1ba;
  --light-gray: #b3b3b3;
  --light: #ececec;
  --extra-light: #f1f1f1;
  --super-light: #e5e5e5;
  --super-light-2: #e6e6e6;
  --super-light-3: #fafafa;
  --turquoise: #56c3b2;
  --silver: #c6c6c6;
  --red: #ea5454;
}
